.container{
    display: block;    
    margin: auto;
    align-items: center;
    width: 600px;
    height: 500px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;      
}
fieldset{
    position: relative;
    bottom: 5px;
    background-color: aliceblue;
}
#myCar{    
    width: 300px;
    height: 100px;
}
select{
    width: 200px;
}
#nav{
    display: flex;  
    justify-content: center;
    align-items: center;
    padding-top: 20px;   
}
#output{
    display: block;
    width: 250px;
    height: 80px;
    background-color:white;
    margin: 10px 0 10px 0;
}
#outputTime{
    display: block;
    width: 250px;
    height: 25px;
    background-color:white;
    margin: 10px 0 0 0;
}
select{
    margin: 10px 0 0 0;
}
legend{
    font-size: 20px;
    font-weight: bold;
}
input[type="button"], input[type="reset"]{   
    border: 1px solid black ;
    border-radius: 5px;
    width: 109px;
    height: 25px;
    margin: 10px 0 5px 0;    
    background-color: rgb(165, 165, 220);    
}
#distance{
    margin: 10px 0 0 0;
}
